body{
font-family:Arial;
margin:0;
background:#f4f4f4;
color:#333;
}

header{
background:#2E7D32;
color:white;
padding:40px;
text-align:center;
}

.card{
background:white;
margin:30px;
padding:25px;
border-radius:12px;
box-shadow:0 5px 12px rgba(0,0,0,.15);
}

.colors{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:30px;
}

.color{
width:140px;
height:140px;
border-radius:12px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}

.green{
background:#2E7D32;
color:white;
}

.light{
background:#A5D6A7;
}

.white{
background:white;
border:2px solid #ddd;
}

.dark{
background:#263238;
color:white;
}

.business{
padding:30px;
text-align:center;
}

.business-card{
width:320px;
margin:auto;
padding:25px;
background:white;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.social{
text-align:center;
padding:30px;
}

.post{
background:#2E7D32;
color:white;
width:350px;
padding:30px;
margin:auto;
border-radius:15px;
}

button{
padding:12px 30px;
background:white;
border:none;
border-radius:8px;
font-size:18px;
color:#2E7D32;
font-weight:bold;
cursor:pointer;
}

footer{
margin-top:40px;
background:#263238;
color:white;
padding:20px;
text-align:center;
}